body {
    font-family: 'Work Sans', sans-serif;
}
.sm\:max-w-lg {
      max-width: 78rem;
      max-height: 660px;
      overflow: auto;
    }

    .hidden {
      display: unset;
    }

    .hide {
      display: none;
    }
    .tab {
    opacity:0;
    visibility:hidden;
    transform:translate(0,50px);
  }
  
  .active-tab,.active-button{
    transition:transform 0.2s,background 0.2s,color 0.2s;
  }
  
  .active-tab{
    visibility:visible;
    opacity:1;
    transform:translate(0,0);
    z-index:99;
  }
  .active-button{
    background:white !important;
    color:#3730a3;
  }

.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-btn {
  align-items: center;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.modal-btn:active,
.modal-btn:hover,
.modal-btn:focus {
  outline: 0 !important;
}
.h-100vh {
    height: 100vh;
}
header .logo {
    font-size: 17px;
    margin: 0;
    font-weight: 500;
    color: #222;
}
header .logo span {
    font-size: 14px;
    color: #444;
}
.header-shadow {
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), inset 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), inset 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), inset 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

.right_bar .checkbox {
  opacity: 0;
  position: absolute;
}

.right_bar .label {
  width: 38px;
  height: 20px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}
.right_bar .label svg {
    width: 11px;
    height: 11px;
}

.right_bar .ball {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.right_bar .checkbox:checked + .label .ball{
  transform: translateX(17px);
}




.menu_sidebar {
    min-height: 565px;
    position: relative;
    background: #fff;
}
.menu_sidebar .menu_item {
    margin: 0 !important;
    border-bottom: 1px solid #e9e9e9;
    font-size: 14px;
    padding: 0.6rem 1rem;
    background: #fff;
    color: #495057;
    box-shadow: #b6b6b6 -28px 0px 30px -30px inset;
}
.menu_sidebar .menu_item.active, .menu_sidebar .menu_item:hover {
    background: #8277e4;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    color: #fff;
}
.menu_sidebar .menu_name {
    width: 160px;
}
.menu_sidebar .icon {
    display: inline-flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    background: #171fd3;
    background: linear-gradient(to top right, #3a28d8, #5a85f2);
    color: #fff;
    padding-left: 0;
    border-radius: 50%;
}

.glance_bar {
    margin-top: 30px;
    padding: 10px 15px;
    position: absolute;
    width: 100%;
    background: linear-gradient(to left top, #685fb9, #5a85f2);
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    bottom: 0;
    color: #fff;
    max-width: 228px;
}
.glance_bar p {
    margin: 3px 0;
    font-size: 14px;
}
.glance_bar .progress {
    border-radius: 15px;
    height: 10px;
    background-color: #e9ecef;
}
.glance_bar .progress-bar {
    background: #4fb581;
    height: 10px;
    border-radius: 8px;
}


.option-header {
    padding: 10px 25px;
    border-bottom: 1px solid #e5e5e5;
}
.option-header h5 {
    font-weight: 600;
        font-size: 20px;
}
.btn-group {
    display: flex;
    align-items: center;
}
.btn-group .btn {
    background: #508ff9;
    color: #fff;
    margin-left: 15px !important;
    border-radius: 4px !important;
    border: 1px solid #508ff9;
   padding: 6px 18px 8px;
    font-size: 15px;
    font-weight: 500;
}
.btn-group .btn-border {
    background: transparent;
    color: #508ff9;
}
.btn-group .btn-border:hover {
    background: #508ff9;
    color: #fff;
}
.btn-group .btn-bg-color:hover {
    background: transparent;
    color: #508ff9;
}
.btn-group .btn:focus{
    box-shadow: none;
    outline: none;
}

.body_content {
    padding: 0 25px;
}
.table td, .table th {
    padding: 0.75rem;
}
.table {
    /*border: 1px solid #8277e41c;*/
    border-radius: 6px;
    /*display: table-cell;*/
    font-size: 14px;
    overflow: hidden;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #8277e440;
    border-top: 0;
    background: #8277e41c;
    font-weight: 600;
}
.table tr th {
    font-weight: 600;
}
.table tbody tr {
    background: #fff;
    border-bottom: 1px solid #eee;
}
.table tbody tr:nth-child(even) {
    /*background: #f7f7f7;*/
}
.table td:nth-child(6) {
    /* text-align: center; */
}
.option_table {
    display: block;
    box-shadow: rgb(0 0 0 / 10%) 0px 13px 15px -8px;
    padding: 0px;
    border-radius: 6px;
    background: #fff;
}
.table span.up, .table span.down {
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 13px;
}
.table span.up {
    background: #55c48b;
    color: #fff;
}
.table span.down {
    background: #e76975;
    color: #fff;
}

/* --------- scrollbar css start --------- */
.modal_main::-webkit-scrollbar {
  width: 10px;
}
.modal_main::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.modal_main::-webkit-scrollbar-thumb {
  background: #cccccc; 
  border-radius: 4px;
}
.modal_main::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6; 
}
/* --------- scrollbar css end --------- */



/*   Dark mode css start here   */

.dark-mode .top_header {
    /*background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(62 67 83) 70.2%);*/
    background: #3e4353;
    color: #fff;
}
.dark-mode .logo {
    font-size: 17px;
    margin: 0;
    font-weight: 500;
    color: #fff;
}
.dark-mode .logo span {
    font-size: 14px;
    color: #e5e5e5;
}

.dark-mode .menu_sidebar .menu_item {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(62 67 83) 70.2%);
    color: #fff;
    box-shadow: #5b5f6d -28px 0px 30px -30px inset;
}
.dark-mode .menu_sidebar .menu_item.active, .dark-mode .menu_sidebar .menu_item:hover {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(62 67 83) 70.2%);
    color: #fff;
    border-left: 3px solid #d5d5d5;
    border-radius: 2px 0 0 2px;
}
.dark-mode .menu_sidebar .icon {
    background: linear-gradient(112.1deg, rgb(89 94 109) 11.4%, rgb(62 67 83) 70.2%);
}
.dark-mode .menu_sidebar .menu_item {
    border-bottom: 1px solid #333849;
    border-left: 3px solid #212739;
}
.dark-mode .glance_bar{
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(62 67 83) 70.2%);
    padding-top: 58px;
    margin-top: 0 !important;
}
.dark-mode .glance_bar .progress-bar {
    background: #575757;
}
.dark-mode .menu_sidebar {
    background: #3a3f4f;
}
.dark-mode .right_side_bar {
    background: linear-gradient(112.1deg, #3e4353 11.4%, #202639 70.2%);
}
.dark-mode .option-header {
    border-bottom: 1px solid #494a4e;
}
.dark-mode .option-header h5 {
    color: #fff;
}
.dark-mode .table thead th {
    border-bottom: 1px solid #4e515c;
    background: #2f3446;
    color: #fff;
}
.dark-mode .table tbody tr {
    background: #252b3d;
    border-bottom: 1px solid #373b46;
    color: #fff;
}
.table thead tr th:first-child {
    border-radius: 6px 0 0 0;
}
.table thead tr th:last-child {
    border-radius: 0 6px 0 0;
}
.dark-mode .btn-group .btn {
    background: #3e4353;
    color: #fff;
    border: 1px solid #3e4353;
}
.dark-mode .btn.btn-border {
    background: transparent;
}
.dark-mode .btn.btn-border:hover {
    background: #3e4353;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
