
body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Work Sans', sans-serif;
}
.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-btn {
  align-items: center;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.modal-btn:active,
.modal-btn:hover {
  outline: 0;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 20px;
    background-color: #8277e4;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after{
    background-color: #8277e4;
}
            .fixed-header .app-header {
    position: unset;
    border-radius: 12px 12px 0 0;
}
.fixed-sidebar .app-sidebar {
    position: unset;
    height: auto;
    padding-top: 60px;
}
.closed-sidebar:not(.closed-sidebar-mobile) .app-header .app-header__logo {
    width: auto;
}
.app-header__logo .logo {
    font-size: 17px;
    margin: 0;
}
.app-header__logo .logo span {
    font-size: 13px;
    margin-left: 6px;
}

.app-theme-white.app-container {
    border-radius: 12px;
}
.nav-tabs {
    display: block;
    border-bottom: 0;
}
.nav-link {
    text-align: left;
}
.app-sidebar .app-sidebar__inner {
    padding: 0;
}


.closed-sidebar .app-sidebar:hover {
    flex: unset !important;
    width: unset !important;
}
.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul li a{
    /*visibility: hidden;*/
    width: 80px;
}
.closed-sidebar .app-sidebar .app-sidebar__inner ul li a span{
  display: none;
}
.closed-sidebar .app-sidebar .app-sidebar__inner ul li a span.icon {
    display: flex;
    margin: auto;
}
.closed-sidebar .glance_bar {
    display: none;
}
.app-container {
    min-height: 90vh;
}
.app-sidebar .app-sidebar__inner .nav-item {
    /*box-shadow: #b6b6b6 -21px 0px 30px -27px inset;*/
    box-shadow: #b6b6b6 -28px 0px 30px -30px inset;
}
.app-sidebar .app-sidebar__inner .nav-link {
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
    font-size: 14px;
    padding: 0.6rem 1rem;
    /*box-shadow: #b6b6b6 -21px 0px 30px -27px inset;*/
}

.app-sidebar .nav-link.active {
    background: #8277e4;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    color: #fff;
}
.app-sidebar .nav-link:hover {
    /*background: #8277e4 !important;*/
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%) !important;
    color: #fff !important;
}
.app-sidebar .nav-link a {
    padding-left: 13px;
}
.app-sidebar .nav-link:hover a {
    color: #fff;
    text-decoration: none;
}
.app-sidebar .nav-link span {
    padding-left: 10px;
}
.app-sidebar .nav-link .icon{
    display: inline-flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    background: #171fd3;
    background: linear-gradient(to top right, #3a28d8, #5a85f2);
    color: #fff;
    padding-left: 0;
    border-radius: 50%;
}


.glance_bar {
    margin-top: 30px;
    padding: 10px 15px;
    position: absolute;
    width: 100%;
    background: linear-gradient(to left top, #685fb9, #5a85f2);
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    bottom: 0;
    color: #fff;
}
.glance_bar p {
    margin: 3px 0;
    font-size: 14px;
}
.glance_bar .progress {
    border-radius: 15px;
    height: 10px;
}
.glance_bar .progress-bar {
    background: #4fb581;
}

.option-header {
    padding: 10px 25px;
    border-bottom: 1px solid #e5e5e5;
}
.option-header h5 {
    font-weight: 600;
}
.btn-group {
    display: flex;
    align-items: center;
}
.btn-group .btn {
    background: #508ff9;
    color: #fff;
    margin-left: 15px !important;
    border-radius: 4px !important;
    border: 1px solid #508ff9;
   padding: 6px 18px 8px;
    font-size: 15px;
    font-weight: 500;
}
.btn-group .btn-border {
    background: transparent;
    color: #508ff9;
}
.btn-group .btn-border:hover {
    background: #508ff9;
    color: #fff;
}
.btn-group .btn-bg-color:hover {
    background: transparent;
    color: #508ff9;
}
.btn-group .btn:focus{
    box-shadow: none;
    outline: none;
}
.fixed-sidebar .app-main .app-main__outer {
    background-color: #fbfbfb;
}
.tab-content {
    padding: 0 10px;
    margin-top: 25px;
}
.table {
    border: 1px solid #8277e41c;
    border-radius: 6px;
    /*display: table-cell;*/
    font-size: 14px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #8277e440;
    border-top: 0;
    background: #8277e41c;
    font-weight: 600;
}
.table tr th {
    font-weight: 600;
}
.table tbody tr:nth-child(even) {
    background: #f7f7f7;
}
.table td:nth-child(6) {
    /* text-align: center; */
}
.option_table {
    display: block;
    box-shadow: rgb(0 0 0 / 10%) 0px 13px 15px -8px;

    padding: 0px;
    border-radius: 10px;
    background: #fff;
}
.table span.up, .table span.down {
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 13px;
}
.table span.up {
    background: #55c48b;
    color: #fff;
}
.table span.down {
    background: #e76975;
    color: #fff;
}


@media (max-width: 1366px) {
.app-sidebar .app-sidebar__inner {
    max-height: 390px;
    overflow: auto;
}
.app-sidebar .app-sidebar__inner::-webkit-scrollbar {
  width: 10px;
}
.app-sidebar .app-sidebar__inner::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.app-sidebar .app-sidebar__inner::-webkit-scrollbar-thumb {
  background: #cccccc; 
  border-radius: 4px;
}
.app-sidebar .app-sidebar__inner::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6; 
}


}



/*   Dark mode css start here   */

.dark-mode .fixed-header .app-header {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(62 67 83) 70.2%);
    color: #fff;
}
.dark-mode .hamburger-inner, .dark-mode .hamburger-inner::before, .dark-mode  .hamburger-inner::after {
    width: 20px;
    background-color: #ffffff;
}
.dark-mode .app-header__content .close {
    color: #fff;
}
.dark-mode .app-header__content .close:hover {
    color: #fff;
    opacity: 1;
}
.dark-mode .hamburger.is-active .hamburger-inner {
    background-color: #ffffff;
}

.dark-mode .app-sidebar .nav-link.active {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(62 67 83) 70.2%);
}
